<%= content_for :top do %>
<div class="row">
<div class="col s12 m8 l6 offset-m2 offset-l3">
<h3 style="border-radius:50px; padding:2%" class="header center black-text green darken-2">Name: <%= @current_user.first_name %> <%= @current_user.last_name %></h3>
<br>
<h5 style="border-radius:50px; padding:2%" class="header center black-text blue darken-2">Location: <%= @current_user.city %>, <%= @current_user.state %></h5>
<br>
<h5 style="border-radius:50px; padding:2%" class="header center black-text yellow darken-2">Email: <%= @current_user.email %></h5>
<br>
<% if @current_user.user_attachments.count > 0 %>
<%= image_tag @current_user.user_attachments.first.image.url(:small) %>
<% else %>
<% end %>
<% end %>
</div>
</div>
<%= content_for :top do %>
<div class="row">
<div class="col s12 m8 l6 offset-m2 offset-l3">
	<%= render "form" %>
</div>
</div>
	<% end %>

